body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.galeria {
    display: flex;
    overflow-y: auto;
    padding: 10px;
    
}

.card {
    margin-right: 10px;
    position: relative;
}

.cuerpo-card {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgb(158, 93, 93);
    color: aliceblue;
}

.cuerpo-card h6,
.cuerpo-card p {
    margin: 0;
}

.card img {
    width: 200px;
    object-fit: cover;
    height: 300px;
}